# global
node_modules/
lerna-debug.log

# shared in packages
packages/*/node_modules/
packages/*/buildcache
packages/*/*.tgz
packages/*/*.min.js*

# custom-elements package
packages/custom-elements/src/

# formdata-event package
packages/formdata-event/src/

# html-imports package
packages/html-imports/html-imports.min.js*

# shadycss package
packages/shadycss/src/interface.*
packages/shadycss/.tsbuildinfo

# tests package
packages/tests/shadycss/module/generated/

# webcomponentsjs package
packages/webcomponentsjs/bundles/
packages/webcomponentsjs/src/platform/
packages/webcomponentsjs/src/flag-parser.*
packages/webcomponentsjs/src/unresolved.*
packages/webcomponentsjs/custom-elements-es5-adapter.js
packages/webcomponentsjs/webcomponents-bundle.js*
